/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px):
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font Weights: 
Default: 400

- Line heights:
Default: 1.15

---  02 COLORS

- Primary: #000247
- Tints/Secondary: #377dff
- Shades/tertiary: #181a33
- Accents:
- Light Grey: #ededed
- Mid Grey: #999
- Dark Grey: #444

--- 03 IMAGES
img folder included

--- 04 ICONS
font-family: 'Inter', sans-serif;

--- 05 SHADOWS

--- 06 BORDER RADIUS

--- 07 WHITESPACE

- Spacing System (px):
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/

html {
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.15;
  color: #222222;
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 600;
  line-height: 1.05;
  color: #222222;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  text-transform: capitalize;
  margin-bottom: 2.4rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.hero-img {
  width: 100%;
}

