/* ******************************** */
/* HEADER */
/* ******************************** */

.header {
  background-color: #000247;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* We want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
  box-shadow: 0 1.6rem 3.2rem 0 rgba(0, 0, 0, 0.2);
}

.logo {
  height: auto;
}

/* ******************************** */
/* NAVIGATION */
/* ******************************** */

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s ease-in-out;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #377dff;
}

.main-nav-link .nav-icon {
  stroke: #fff;
  width: 1.3rem;
  height: 1.3rem;
}

.main-nav-link .nav-icon:hover,
.main-nav-link .nav-icon:active {
  stroke: #377dff;
}

/* ******************************** */
/* HERO SECTION */
/* ******************************** */

.section-hero {
  background-color: #000247;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.heading-subtitle {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.6;
  color: #999;
  text-transform: capitalize;
  margin-bottom: 3.2rem;
}

.heading-brand {
  display: inline-block;
  background: #ffb701;
  text-align: center;
  padding: 0 1rem;
  border-radius: 9px;
  margin: 1rem 0;
}

.hero-description {
  font-size: 1.8rem;
  line-height: 1.6;
  color: #999;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.joined-student {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.joined-imgs {
  display: flex;
}

.joined-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #000247;
}

.joined-imgs img:last-child {
  margin: 0;
}

.joined-text {
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
}

.joined-text span {
  color: #377dff;
  font-weight: 700;
}

/* ******************************** */
/* SECTION WHY */
/* ******************************** */

.section-why {
  padding: 9.6rem 0;
  background-color: #fff;
  text-align: center;
}

.why-box {
  text-align: center;
  padding: 3.2rem;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  margin-top: 9.6rem;
}

.why-img {
  width: 50%;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -10rem;
  right: 8rem;
  border: 5px solid white;
  transition: all 0.3s ease-in-out;
}

.why-box:hover .why-img {
  border: 5px solid orange;
}

/* ******************************** */
/* SECTION CATGORIES */
/* ******************************** */

.section-catgories {
  padding: 6.4rem 3.2rem 9.6rem;
  text-align: center;
}

.section-catgories h2 {
  margin-bottom: 3.6rem;
}
.category-boxes {
  margin: 0 auto;
}

.category-box {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.category-img {
  display: block;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.category-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.category-name {
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
}

.course-count {
  position: absolute;
  top: 75%;
  left: 0;
  right: 0;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
}

.category-box:hover .category-img {
  transform: scale(1.1);
}

/* ******************************** */
/* SECTION POPULAR COURSES */
/* ******************************** */

.section-popular-courses {
  padding: 3.2rem 3.2rem 9.6rem;
}

.heading-right {
  align-self: center;
  justify-self: end;
}

.course-boxes {
  padding: 2.4rem 0;
}

.course-box {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  overflow: hidden;
  /* transition: all 0.3s; */
}

.course-box-img {
  position: relative;
}

.course-img {
  width: 100%;
}

.course-price {
  position: absolute;
  top: inherit;
  bottom: -2.5rem;
  right: 0;
  /* z-index: 10; */
  padding: 1.5rem 0;
  margin: 2.4rem 1.5rem 0 0;
  line-height: 3.2rem;
  font-weight: 600;
  font-size: 1.4rem;
  color: #fff;
  background-color: #377dff;
  text-align: center;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}

.course-main-content {
  padding: 1.5rem;
}

.course-box-content {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 0.5rem;
}

.course-box-content .subheading {
  margin: 0;
  font-size: 1.4rem;
  align-self: center;
  font-weight: 400;
}

.course-box-content .heading-tertiary {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.4;
}

.course-box-content .heading-tertiary a:link,
.course-box-content .heading-tertiary a:visited {
  text-decoration: none;
  color: #000247;
}

.course-box-content .description {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.course-box-data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem 0.5rem;
  border-top: 1px solid #dfe2e9;
}

.course-les {
  display: inline-block;
  font-size: 1.4rem;
  color: #000247;
}

.course-stu {
  display: inline-block;
  font-size: 1.4rem;
  color: #000247;
}

.course-icon {
  width: 1.4rem;
  height: 1.4rem;
  text-align: center;
  stroke: #377dff;
}

.course-btn {
  text-align: center;
  margin-top: 3.2rem;
}

/* .course-box:hover .course-price {
  transform: scale(1.1);
} */

/* ******************************** */
/* SECTION ONLINE TUTORIAL */
/* ******************************** */

.online-tut {
  padding: 4.8rem 3.2rem 4.8rem;
  background: url(../img/online-tut-section/blue-bg.png) no-repeat center center;
  background-size: cover;
}

.tut-box {
  padding: 0 3.2rem;
}

.tut-content {
  display: grid;
  grid-template-columns: 2fr 0.5fr;
}

.tut-text {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.tut-text h3 {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 600;
  line-height: 1.25;
  align-self: end;
}

.tut-text p {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 400;
  line-height: 1.7;
  align-self: center;
}

.tut-iconmoveup {
  align-self: flex-end;
}

.tut-media {
  display: grid;
  grid-template-columns: 2fr 0.5fr;
}

.tut-img {
  justify-self: end;
}

.tut-iconmoveside {
  justify-self: center;
}

/* ******************************** */
/* SECTION INSTRUCTORS */
/* ******************************** */

.instructors {
  padding: 9.6rem 3.2rem 9.6rem;
}

/* .instructors-boxes {
} */

.instructor-box {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  box-shadow: 0 1.6rem 3.2rem rgba(0, 0, 0, 0.075);
  border: 1px solid #ececec;
  border-radius: 5px;
  padding: 1.5rem;
  transition: all 0.3s ease-in-out;
}

/* .instructor-media {
} */

.instructor-img {
  width: 70%;
  border-radius: 50%;
}

.instructor-content {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  row-gap: 1rem;
}

.instructor-name {
  font-size: 1.6rem;
  color: #377dff;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.instructor-course-name {
  font-size: 1.6rem;
  color: #000247;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}

.instructor-ratings {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ratings-data {
  font-size: 1.4rem;
  color: #000247;
  font-weight: 600;
}

.ratings {
  padding-right: 1rem;
}

.ratings-icon {
  width: 1.4rem;
  height: 1.4rem;
  color: #ffb701;
}
.ratings-details {
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
  justify-self: center;
}

.instructor-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.instructor-students {
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}

.instructor-courses {
  font-size: 1.4rem;
  font-weight: 400;
  justify-self: center;
  transition: all 0.3s ease-in-out;
}

.instructor-courses a:link,
.instructor-courses a:visited {
  display: block;
  text-decoration: none;
  color: #999;
  transition: all 0.3s ease-in-out;
}

.instructor-box:hover {
  background-color: #fffff5;
  border: 1px solid #e6e6e6;
}

.instructor-box:hover .instructor-name {
  color: #000247;
}

.instructor-box:hover .instructor-course-name {
  color: #377dff;
}

.instructor-courses a:hover,
.instructor-courses a:active {
  color: #377dff;
  border-bottom: 1px solid #377dff;
}

/* ******************************** */
/* SECTION NEWSLETTER */
/* ******************************** */

.section-newsletter {
  padding: 9.4rem 0 12.8rem;
}

.newsletter-bg-img {
  background-image: url(../img/newsletter-section/newsletter-bg-img.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 40rem; */
}

.newsletter {
  padding: 0 3.2rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.5fr 3fr 1.5fr;
  column-gap: 2rem;
}

.faceimg-left {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.newsletter-content {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 4rem 0;
}

.newsletter-content .subheading {
  margin-bottom: 0;
  align-self: end;
}

.newsletter-content .heading-secondary {
  margin-bottom: 0;
  align-self: center;
  padding: 2.4rem 0;
}

.newsletter-content .description {
  margin-bottom: 0;
  align-self: baseline;
  text-align: center;
  line-height: 1.8;
}

.faceimg-right {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.newsletter-img {
  display: block;
  border: 5px solid #fff;
  border-radius: 50%;
}

.left-img-01 {
  justify-self: end;
  position: relative;
}

.newsletter-anitri {
  position: absolute;
  top: -3rem;
  right: -20rem;
}

.left-img-02 {
  justify-self: center;
}

.left-img-03 {
  justify-self: end;
  align-self: center;
}

.right-img-01 {
  justify-self: center;
}

.right-img-02 {
  position: relative;
}

.newsletter-anicir {
  position: absolute;
  top: -7rem;
  left: -7rem;
}

.right-img-03 {
  justify-self: end;
  align-self: center;
  position: relative;
}

.newsletter-aniyelcir {
  position: absolute;
  display: block;
  top: -3rem;
  left: -28rem;
}

.newsletter-content .newsletter-form {
  align-self: center;
  justify-self: normal;
  position: relative;
}

.newsletter-form input[type='email'] {
  display: inline-block;
  width: 57%;
  padding: 1.6rem;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: inherit;
  border: none;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.15);
  margin-left: 6rem;
}

.newsletter-form input[type='submit'] {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  font-size: 1.6rem;
  font-weight: 500;
  font-family: inherit;
  color: #fff;
  background-color: #377dff;
  border: none;
  cursor: pointer;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  box-shadow: 0 0 4rem 0 rgba(0, 0, 0, 0.15);
  position: absolute;
}

.newsletter-form input::placeholder {
  /* color: #aaa; */
  font-weight: 500;
}

/* ******************************** */
/* SECTION FOOTER */
/* ******************************** */

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.log-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.contacts p {
  color: #767676;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  display: block;
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #000247;
}

/* ******************************** */
/* COURSES PAGE START HERE */
/* ******************************** */

/* ******************************** */
/* SECTION SECONDARY BG HEADER */
/* ******************************** */

.secondary-heading {
  margin-bottom: 3.2rem;
}

.bgimg-breadcumber {
  background-image: url(../img/popular-courses-section/blog-banner.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 15rem;
}

.bgimg-breadcumber .heading-tertiary {
  font-size: 3.2rem;
  font-weight: 600;
  text-align: center;
  margin: 0 auto;
  padding-top: 6rem;
}

/* ******************************** */
/* SECTION COURSES FILTER */
/* ******************************** */

.courses-filter {
  padding: 3.2rem 3.2rem 0;
}

.filter-box {
  background-color: #bdecf1;
  padding: 3rem 0;
  display: grid;
  grid-template-columns: 2fr 3fr 0.7fr;
  gap: 1rem;
  border-radius: 9px;
}

.filter-txt {
  align-self: center;
}

.filter-txt h3 {
  font-size: 1.8rem;
  color: #000247;
  background-color: #fff;
  font-weight: 600;
  display: inline-block;
  margin-left: 5rem;
  padding: 1rem 2rem;
  border-radius: 5px;
  box-shadow: 0 6px 5px -5px rgba(0, 0, 0, 0.3);
}

.filter-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.filter-reset {
  align-self: center;
}

.reset-button {
  border: none;
  color: #fff;
  background-color: #000247;
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 6px 5px -5px rgba(0, 0, 0, 0.3);
  transition: all 0.4s;
}

.filter-reset .reset-button:hover {
  color: #000247;
  background-color: #fff;
}

.dropdown {
  width: 230px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
  z-index: 1;
}

.dropdown.toggle > input {
  display: none;
}

.dropdown > a,
.dropdown.toggle > label {
  border-radius: 5px;
  box-shadow: 0 6px 5px -5px rgba(0, 0, 0, 0.3);
}

.dropdown > a::after,
.dropdown.toggle > label::after {
  content: '';
  float: right;
  margin: 15px 15px 0 0;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #ccc;
}

.dropdown ul {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  box-shadow: 0 6px 5px -5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
}

.dropdown a,
.dropdown.toggle > label {
  display: block;
  padding: 0 0 0 1rem;
  text-decoration: none;
  line-height: 4rem;
  font-size: 1.5rem;
  text-transform: capitalize;
  font-weight: 600;
  color: #000247;
  background-color: #fff;
}

.dropdown li {
  height: 0;
  overflow: hidden;
  transition: all 500ms;
}

.dropdown.hover li {
  transition-delay: 300ms;
}

.dropdown li:first-child a {
  border-radius: 2px 2px 0 0;
}

.dropdown li:last-child a {
  border-radius: 0 0 2px 2px;
}

.dropdown li:nth-child(1) {
  margin-bottom: 0.8rem;
}

.dropdown li:first-child a::before {
  content: '';
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  margin: -10px 0 0 30px;
}

.dropdown a:hover,
.dropdown.toggle > label:hover,
.dropdown.toggle > input:checked ~ label {
  background-color: #eee;
  color: #666;
}

.dropdown > a:hover::after,
.dropdown.toggle > label:hover::after,
.dropdown.toggle > input:checked ~ label::after {
  border-top-color: #aaa;
}

.dropdown li:first-child a:hover::before {
  border-bottom-color: #eee;
}

.dropdown.hover:hover li,
.dropdown.toggle > input:checked ~ ul li {
  height: 40px;
}

.dropdown.hover:hover li:first-child,
.dropdown.toggle > input:checked ~ ul li:first-child {
  padding-top: 15px;
}

.filter-label {
  margin-left: 0.5rem;
}

/* ******************************** */
/* COURSE-DETAILS PAGE START HERE */
/* ******************************** */

.single-course {
  padding: 9.6rem 3.2rem 12.8rem;
}

.overview-course {
  display: grid;
  grid-template-columns: 70fr 30fr;
}

.overview-course-left-side {
}

.overview-heading-content {
  margin-bottom: 4.8rem;
}

.overview-heading-content .heading-secondary {
  font-size: 3.4rem;
}

.rating-section {
  margin-bottom: 1.8rem;
}

.overview-heading-content .ratings {
  font-size: 1.6rem;
}
.total-ratings,
.total-students {
  font-size: 1.6rem;
  color: #767676;
  padding-left: 1rem;
}

.creator-section {
  display: flex;
  margin-bottom: 1.8rem;
}

.created-by {
  font-size: 1.6rem;
  color: #767676;
  padding-right: 2rem;
  border-right: 1px solid #aaa;
}

.created-by a:link,
.created-by a:visited {
  text-decoration: none;
  color: #000247;
  transition: all 0.4s;
}

.created-by a:hover,
.created-by a:active {
  color: #377dff;
  border-bottom: 1px solid #377dff;
}

.created-time-update {
  font-size: 1.6rem;
  color: #767676;
  padding-left: 2rem;
}

/* *Overview Tab Section Start Here */

.overview-tab-sec {
}

/* Tab Nav */

.tab-nav {
  margin-bottom: 4.8rem;
}

.tab {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 0 2rem rgba(51, 51, 51, 0.1);
  border-radius: 0.5rem;
  overflow: hidden;
}

.tablinks {
  font-size: 1.6rem;
  color: #000247;
  font-weight: 500;
  padding: 2.4rem 0;
  cursor: pointer;
  transition: all 0.1s;
}

/* .tablinks:hover {
  border-bottom: 2px solid #377dff;
} */

.tab > li.active {
  color: #377dff;
}

/* Tab Content */

.tab-txt {
}

.tabcontent {
  display: none;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.overview-section {
}

.overview-top .heading-tertiary,
.overview-bottom .heading-tertiary {
  margin: 3.2rem 0;
  font-size: 2.4rem;
  font-weight: 600;
}

.overview-section .p-1,
.overview-section .p-2 {
  margin-bottom: 3.2rem;
  line-height: 1.8;
}

.overview-section .p-2 {
  margin-bottom: 4.8rem;
}

.what-learn .learn-sent {
  margin-bottom: 1.6rem;
}

.what-learn .what-learn-icon {
  font-size: 1.3rem;
  color: #818a91;
  margin-right: 0.7rem;
}

.what-learn .what-learn-txt {
  font-size: 1.6rem;
  color: #999;
}

/* *Overview Section End Here */

.curriculum-section {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.accordion {
  background-color: #fffff5;
  color: #000247;
  cursor: pointer;
  padding: 1.8rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.6rem;
  font-weight: 600;
  transition: all 0.3s;
  border-radius: 5px;
  border: 1px solid #eee;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
}

.curriculum-active,
.accordion:hover {
  background-color: #bdecf1;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.curriculum-active:after {
  content: '\2212';
}

.panel {
  /* padding: 0 18px; */
  background-color: #fff;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  font-size: 1.6rem;
  color: #767676;
  line-height: 1.8;
}

.panel-list {
  list-style-type: none;
  border: 1px solid #eee;
  border-radius: 5px;
}

.curri-sec-list {
  padding: 1.6rem 2rem;
}

.curri-sec-list:nth-child(odd) {
  background-color: #f7f8fa;
}

.curri-sec-list a:link,
.curri-sec-list a:visited {
  text-decoration: none;
  display: grid;
  grid-template-columns: 0.2fr 4fr 2fr;
}

.curri-sec-list-icon {
  align-self: center;
}

.curri-icon {
  font-size: 1.5rem;
  color: #377dff;
}

.curri-sec-list-content {
  color: #767676;
}

.curri-sec-list-action {
  justify-self: end;
}

.curri-preview {
  color: #fff;
  background-color: #37bb76;
  font-size: 1.4rem;
  font-weight: 600;
  padding: 0.3rem 1rem;
  border-radius: 5px;
  margin-right: 0.7rem;
}

.curri-duration {
  color: #000247;
  font-size: 1.4rem;
  font-weight: 600;
  background-color: #eceff6;
  padding: 0.3rem 1rem;
  border-radius: 5px;
}

.curri-lock {
  margin-right: 0.7rem;
}

.curri-preview--blue {
  background-color: #377dff;
}

/* *Curriculum Section End Here */

.instructor-info .heading-secondary {
  margin-bottom: 1rem;
}

.instructor-info .description {
  font-size: 1.8rem;
  margin-bottom: 3.2rem;
}

.instructor-info-details {
  display: grid;
  grid-template-columns: 1fr 9fr;
  column-gap: 2rem;
  margin-bottom: 3.2rem;
}

.instructor-info-left {
  align-self: center;
}

.instructor-info-img {
  display: block;
  width: 100%;
  border-radius: 50%;
}

.instructor-info-right {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  row-gap: 1.4rem;
}

.instructor-info-cou {
}

.instructor-info-stu {
}

.instructor-info-avrev {
}

.instructor-info-icon {
  color: #377dff;
  font-size: 1.5rem;
}

.instructor-info-rev .instructor-info-icon {
  color: orange;
}

.instructor-info-content {
  color: #767676;
  font-size: 1.6rem;
  margin-left: 1rem;
}

.instructor-info-cou-count:link,
.instructor-info-cou-count:visited {
  text-decoration: none;
  color: #000247;
  transition: all 0.3s;
}

.instructor-info-cou-count:hover,
.instructor-info-cou-count:active {
  color: #377dff;
  border-bottom: 1px solid #377dff;
}

.instructor-social-links {
  margin-bottom: 3.2rem;
}

.instructor-about-me .description {
  font-size: 1.6rem;
  margin-bottom: 1.4rem;
}

/* *Instructor Section End Here */

.reviews-sta {
  display: grid;
  grid-template-columns: 70fr 30fr;
  column-gap: 1rem;
  margin-bottom: 4.8rem;
}

.rev-sta-left {
  display: grid;
  grid-template-columns: 15fr 70fr 15fr;
  column-gap: 2rem;
  row-gap: 1rem;
}

.rev-star {
}

.rev-star-bar {
  height: 0.5rem;
  align-self: center;
}

.five-star-bg {
  background: #377dff;
}

.four-star-bg {
  background: #ddd;
}

.rev-star-per {
  color: #767676;
  font-size: 1.6rem;
}

.rev-sta-right {
  justify-self: end;
  align-self: center;
}

.rev-star-ave {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  row-gap: 0.5rem;
  padding: 2.4rem 6.2rem;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.rev-ave-num {
  color: #377dff;
  font-size: 3.2rem;
  font-weight: 600;
  justify-self: center;
}

.rev-ave-star {
  align-self: center;
  justify-self: center;
}

.rev-ave-rat {
  color: #767676;
  font-size: 1.6rem;
  justify-self: center;
}

.review-heading {
  color: #000247;
  font-size: 2.4rem;
  font-weight: 600;
  margin-bottom: 3.2rem;
}

.rev-comm-box {
  display: grid;
  grid-template-columns: 1fr 9fr;
  column-gap: 2rem;
  margin-bottom: 3.2rem;
}

.rev-comm-left {
}

.rev-per-img {
  width: 100%;
  border-radius: 50%;
}

.rev-comm-right {
  display: grid;
  grid-template-rows: auto;
  row-gap: 1.2rem;
}

.rev-per-name {
  color: #000247;
  font-size: 1.6rem;
  font-weight: 600;
}

.rev-rat-icon {
  margin-left: 1rem;
}

.rev-comm-tit {
  color: #377dff;
  font-size: 1.6rem;
  font-weight: 600;
}

.rev-comm-des {
  color: #767676;
  font-size: 1.6rem;
  line-height: 1.6;
}

/* *Reviews Section End Here */

/* *FAQ Section End Here */

/* *Overview Right Side */

.overview-course-right-side {
}
