/* ******************************** */
/* HEADER */
/* ******************************** */

.header {
  background-color: #000247;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* We want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
}

.logo {
  height: auto;
}

/* ******************************** */
/* NAVIGATION */
/* ******************************** */

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s ease-in-out;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #377dff;
}

.main-nav-link .nav-icon {
  stroke: #fff;
  width: 1.3rem;
  height: 1.3rem;
}

.main-nav-link .nav-icon:hover,
.main-nav-link .nav-icon:active {
  stroke: #377dff;
}

/* ******************************** */
/* HERO SECTION */
/* ******************************** */

.section-hero {
  background-color: #000247;
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.heading-subtitle {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.6;
  color: #999;
  text-transform: capitalize;
  margin-bottom: 3.2rem;
}

.heading-brand {
  display: inline-block;
  background: #ffb701;
  text-align: center;
  padding: 0 1rem;
  border-radius: 9px;
  margin: 1rem 0;
}

.hero-description {
  font-size: 1.8rem;
  line-height: 1.6;
  color: #999;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.joined-student {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.joined-imgs {
  display: flex;
}

.joined-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid #000247;
}

.joined-imgs img:last-child {
  margin: 0;
}

.joined-text {
  font-size: 1.8rem;
  font-weight: 600;
  color: #fff;
}

.joined-text span {
  color: #377dff;
  font-weight: 700;
}

/* ******************************** */
/* SECTION WHY */
/* ******************************** */

.section-why {
  padding: 9.6rem 0;
  background-color: #fff;
  text-align: center;
}

.why-box {
  text-align: center;
  padding: 3.2rem;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  margin-top: 9.6rem;
}

.why-img {
  width: 50%;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: -10rem;
  right: 8rem;
  border: 5px solid white;
  transition: all 0.3s ease-in-out;
}

.why-box:hover .why-img {
  border: 5px solid orange;
}

/* ******************************** */
/* SECTION CATGORIES */
/* ******************************** */

.section-catgories {
  padding: 6.4rem 3.2rem 9.6rem;
  text-align: center;
}

.section-catgories h2 {
  margin-bottom: 3.6rem;
}
.category-boxes {
  margin: 0 auto;
}

.category-box {
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.category-img {
  display: block;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

.category-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.category-name {
  position: absolute;
  top: 60%;
  left: 0;
  right: 0;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
}

.course-count {
  position: absolute;
  top: 75%;
  left: 0;
  right: 0;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 500;
}

.category-box:hover .category-img {
  transform: scale(1.1);
}

/* ******************************** */
/* SECTION POPULAR COURSES */
/* ******************************** */

.section-popular-courses {
  padding: 3.2rem 3.2rem 9.6rem;
}

.heading-right {
  align-self: center;
  justify-self: end;
}

.course-boxes {
  padding: 2.4rem 0;
}

.course-box {
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.1);
  border-radius: 11px;
  overflow: hidden;
  /* transition: all 0.3s; */
}

.course-box-img {
  position: relative;
}
.course-img {
  width: 100%;
}
.course-price {
  position: absolute;
  top: inherit;
  bottom: -2.5rem;
  right: 0;
  z-index: 999;
  padding: 1.5rem 0;
  margin: 2.4rem 1.5rem 0 0;
  line-height: 3.2rem;
  font-weight: 600;
  font-size: 1.4rem;
  color: #fff;
  background-color: #377dff;
  text-align: center;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}

.course-main-content {
  padding: 1.5rem;
}

.course-box-content {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 0.5rem;
}

.course-box-content .subheading {
  margin: 0;
  font-size: 1.4rem;
  align-self: center;
  font-weight: 400;
}
.course-box-content .heading-tertiary {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.4;
}

.course-box-content .description {
  margin-bottom: 1rem;
  font-size: 1.4rem;
}

.course-box-data {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem 0.5rem;
  border-top: 1px solid #dfe2e9;
}
.course-les {
  display: inline-block;
  font-size: 1.4rem;
  color: #000247;
}

.course-stu {
  display: inline-block;
  font-size: 1.4rem;
  color: #000247;
}

.course-icon {
  width: 1.4rem;
  height: 1.4rem;
  text-align: center;
  stroke: #377dff;
}

.course-btn {
  text-align: center;
  margin-top: 3.2rem;
}

/* .course-box:hover .course-price {
  transform: scale(1.1);
} */

/* ******************************** */
/* SECTION ONLINE TUTORIAL */
/* ******************************** */

.online-tut {
  padding: 4.8rem 3.2rem 4.8rem;
  background: url(../img/online-tut-section/blue-bg.png) no-repeat center center;
  background-size: cover;
}

.tut-box {
  padding: 0 3.2rem;
}

.tut-content {
  display: grid;
  grid-template-columns: 2fr 0.5fr;
}

.tut-text {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.tut-text h3 {
  font-size: 2.5rem;
  color: #fff;
  font-weight: 600;
  line-height: 1.25;
  align-self: end;
}

.tut-text p {
  font-size: 1.6rem;
  color: #fff;
  font-weight: 400;
  line-height: 1.7;
  align-self: center;
}

.tut-iconmoveup {
  align-self: flex-end;
}

.tut-media {
  display: grid;
  grid-template-columns: 2fr 0.5fr;
}

.tut-img {
  justify-self: end;
}

.tut-iconmoveside {
  justify-self: center;
}

/* ******************************** */
/* SECTION INSTRUCTORS */
/* ******************************** */

.instructors {
  padding: 9.6rem 3.2rem 9.6rem;
}

.instructors-boxes {
}
.instructor-box {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  box-shadow: 0 1.6rem 3.2rem rgba(0, 0, 0, 0.075);
  border: 1px solid #ececec;
  border-radius: 5px;
  padding: 1.5rem;
  transition: all 0.3s ease-in-out;
}
.instructor-media {
}

.instructor-img {
  width: 70%;
  border-radius: 50%;
}

.instructor-content {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  row-gap: 1rem;
}

.instructor-name {
  font-size: 1.6rem;
  color: #377dff;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.instructor-course-name {
  font-size: 1.6rem;
  color: #000247;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
}

.instructor-ratings {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.ratings-data {
  font-size: 1.4rem;
  color: #000247;
  font-weight: 600;
}

.ratings-icon {
  width: 1.4rem;
  height: 1.4rem;
  color: #ffb701;
}
.ratings-details {
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
  justify-self: center;
}

.instructor-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.instructor-students {
  font-size: 1.4rem;
  color: #999;
  font-weight: 400;
}

.instructor-courses {
  font-size: 1.4rem;
  font-weight: 400;
  justify-self: center;
  transition: all 0.3s ease-in-out;
}

.instructor-courses a:link,
.instructor-courses a:visited {
  display: block;
  text-decoration: none;
  color: #999;
  transition: all 0.3s ease-in-out;
}

.instructor-box:hover {
  background-color: #fffff5;
  border: 1px solid #e6e6e6;
}

.instructor-box:hover .instructor-name {
  color: #000247;
}

.instructor-box:hover .instructor-course-name {
  color: #377dff;
}

.instructor-courses a:hover,
.instructor-courses a:active {
  color: #377dff;
  border-bottom: 1px solid #377dff;
}

/* ******************************** */
/* SECTION ... */
/* ******************************** */

/* . {
  padding: 9.6rem 3.2rem 9.6rem;
} */
